<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Breakfast}}<br>
    {{.Lunch}}<br>
    {{.Dinner}}<br>
{{end}}

</body>
</html>