{{template "header"}}

<form method="POST" enctype="multipart/form-data">
<input type="file" name="q">
<input type="submit">
</form>

<br>

{{if .}}
<h1>BODY: {{.}}</h1>
{{end}}

{{template "footer"}}